{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Your Title</title>
    </head>
<body>

<main>
    <!-- The main content of each page will be inserted here -->
    {% block content %}{% endblock %}
</main>

<footer>
    <!-- Your footer content goes here -->
    <p>&copy; 2024 Your Company</p>
</footer>

<!-- Add any additional scripts or JS libraries here -->

</body>
</html>
